# ansible-vault encrypt win_worker.yml --vault-password-file 'password file location'
# ansible-vault edit win_worker.yml --vault-password-file 'password file location'
ansible_user: Administrator
ansible_password: 'Enter Password'
ansible_port: 5986
ansible_connection: winrm
ansible_winrm_server_cert_validation: ignore
ansible_winrm_operation_timeout_sec: 250
ansible_winrm_read_timeout_sec: 300
windows_timezone: 15

