###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
#
# perform a backup of the DTR metadata and Data
#
ucp_id=$1
backup_name=$2
backup_data=${backup_name}_data.tar 
 
#unset DOCKER_CERT_PATH
#unset DOCKER_HOST
#unset DOCKER_TLS_VERIFY

#
# Stop docker before taking the backup
#
systemctl stop docker
 
# backup UCP
(cd /var/lib/docker/swarm ; tar -cvf /tmp/backup_swarm.tar .)

#
# Restart Docker
#
systemctl start docker

# save the tar files in the backup volume 
docker run  --rm -v{{ site_backup_volume_name }}:/mnt -v/tmp/backup_swarm.tar:/tmp/data.tar --env FN=$backup_data alpine sh -c 'cp /tmp/data.tar /mnt/$FN' 
 
#verify that the backup was saved 
docker run --rm -v{{ site_backup_volume_name }}:/mnt alpine sh -c 'ls -lrt /mnt' 
