version: '3'
services:
  splunkenterprise:
    hostname: splunkenterprise
    image: splunk/splunk:{{ splunk_architecture_splunk_version }}
    environment:
      SPLUNK_START_ARGS: --accept-license --answer-yes
      SPLUNK_ENABLE_LISTEN: 9997
      SPLUNK_ADD: "tcp 1514 -sourcetype ucp"
    volumes:
      - vsplunk-opt-splunk-etc:/opt/splunk/etc
      - vsplunk-opt-splunk-var:/opt/splunk/var
    ports:
      - "8000:8000"
      - "9997:9997"
      - "8088:8088"
      - "1514:1514"
    deploy:
      placement:
       constraints: [node.role == manager]

  splunkuniversalforwarder:
#    will use .Node.Hostname  for the hostname when this is available
    hostname: "spuf-{{ '{{' }}.Node.ID{{ '}}' }}"
    image: splunk/universalforwarder:{{ splunk_architecture_splunk_version }}
    environment:
      SPLUNK_START_ARGS: --accept-license --answer-yes
      SPLUNK_FORWARD_SERVER: splunkenterprise:9997
      SPLUNK_USER: root
      SPLUNK_ADD: "monitor /docker_host/log -auth {{ splunk_architecture_admin_name }}:{{ splunk_architecture_admin_pass }}"
    volumes:
      - vsplunkuf-opt-splunk-etc:/opt/splunk/etc
      - vsplunkuf-opt-splunk-var:/opt/splunk/var      
      - /var/lib/docker/containers:/host/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/log:/docker_host/log:ro
    deploy:
      mode: global
    
volumes:
  vsplunk-opt-splunk-etc:
    driver: vsphere
    driver_opts:
      size: 10GB
  vsplunk-opt-splunk-var:
    driver: vsphere
    driver_opts:
      size: 10GB
#
# universal forwarders use local volumes
#
  vsplunkuf-opt-splunk-etc:
  vsplunkuf-opt-splunk-var:
